body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

table {
    display: flex;
    flex-direction: column;
}

thead {
    display: flex;
}

tbody {
    display: flex;
    flex-direction: column;
}

tfoot {
    display: flex;
}