body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100%;
    padding: 20px;
}

div {
    display: flex;
    gap: 5px;
}

button {
    color: #008000;
    background-color: #fff;
    border: none;
  }

p {
    text-align: center;
}