#root {
    text-align: center;
}

#return {
    text-align: center;
}

#return button {
    color: #008000;
    background-color: #fff;
    border: none;
  }

#confirmation-message {
    text-align: center;
}