body {
    margin: 0;
}

#root {
    display: block;
    text-align: center;
    padding: 0;
}

#logo {
    margin: 40px 0
}

#message {
    display: block;
    text-align: center;
    padding: 30px;
    background-color: #9ADB50;
}